.flex-container {
  display: flex;
  height: 600px;
}

header {
  background-color: lightblue;
  height: 100px;
}
.box1 {
  background-color: cadetblue;

  width: 33%;
}

.box2 {
  background-color: lightpink;

  width: 33%;
}

.box3 {
  background-color: cadetblue;

  width: 34%;
}

footer {
  background-color: darkgray;
  height: 100px;
}
